[submodule "Hexalith.EventStore"]
	path = Hexalith.EventStore
	url = https://github.com/Hexalith/Hexalith.EventStore.git
[submodule "Hexalith.Commons"]
	path = Hexalith.Commons
	url = https://github.com/Hexalith/Hexalith.Commons.git
