[submodule "Hexalith.EventStore"]
	path = references/Hexalith.EventStore
	url = https://github.com/Hexalith/Hexalith.EventStore.git
[submodule "Hexalith.Commons"]
	path = references/Hexalith.Commons
	url = https://github.com/Hexalith/Hexalith.Commons.git
[submodule "Hexalith.AI.Tools"]
	path = references/Hexalith.AI.Tools
	url = https://github.com/Hexalith/Hexalith.AI.Tools.git
[submodule "Hexalith.FrontComposer"]
	path = references/Hexalith.FrontComposer
	url = https://github.com/Hexalith/Hexalith.FrontComposer.git
[submodule "Hexalith.Builds"]
	path = references/Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
[submodule "Hexalith.PolymorphicSerializations"]
	path = references/Hexalith.PolymorphicSerializations
	url = https://github.com/Hexalith/Hexalith.PolymorphicSerializations.git
[submodule "Hexalith.Memories"]
	path = references/Hexalith.Memories
	url = https://github.com/Hexalith/Hexalith.Memories.git
